h1 {
	color:brown;
	font-family:cursive;
	font-style:pacifico;
}
body {background-color:wheat;
}
a{color:orange;
font-family:cursive;
}
h2 {text-align:center;
color:saddlebrown;
}
li {letter-spacing:3px;
color: teal;}